body {
  background: rgb(231, 244, 249) !important;
}

.nav-bar {
  width: 100%;
  background: rgb(196, 30, 107);
}

.nav-bar ul{
  list-style: none;
}

.nav-bar li{
  display: inline;
}

#compose-tweet-btn {
  float: right;
}



.compose-tweet {
  background: #fff;
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 10px;
}

.compose-tweet textarea {
  display: block;
  margin: auto;
  width: 100%;
  margin-bottom: 10px;
}

.tweet-list {
  border-top: 1px solid rgb(172, 169, 169);
  border-bottom: 1px solid rgb(172, 169, 169);
  background: #fff;
  padding: 10px;
}

.tweeter-pic {
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.tweeter-name {
  margin-bottom: 0px !important;
}

.show-inline {
  display: inline;
}

.tweet-list-link, .tweet-list-link:hover {
  color: rgb(26, 22, 22);
  text-decoration: none;
}

.pink-like-icon {
  color: rgb(199, 69, 90);
}

.blue-like-icon {
  color: rgb(43, 43, 167);
}