.nav-bar {
  width: 100%;
  background: rgb(255, 80, 162);
}

.compose-tweet {
  background: rgb(231, 244, 249);
  border-radius: 4px;
  padding: 30px;
}

.compose-tweet textarea {
  display: block;
  margin: auto;
  width: 100%;
  margin-bottom: 10px;
}